#inputEmail{
  position: absolute;
  width: 40%;
  height: 12%;
  left: 18%;
  top: 28%;
  font-size:1rem;
  font-family: 'Nanum Myeongjo', serif;
}
#inputPassword{
  position: absolute;
  width: 40%;
  height: 12%;
  left: 18%;
  top: 45%;
  font-size:1rem;
  font-family: 'Nanum Myeongjo', serif;
}
#inputNickname{
  position: absolute;
  width: 38%;
  height: 10%;
  left: 18%;
  top: 60%;
}
#inputGuest{
  position: absolute;
  width: 65%;
  height: 10%;
  left: 18%;
  top: 45%;
}
#userLogin{
  position: absolute;
  height: 70px;
  width: 23%;
  left: 60%;
  top: 23%;
}
#signupBtn{
  position: absolute;
  height: 30px;
  width: 38%;
  left: 18%;
  top: 55%;
}
#guestBtn{
  position: absolute;
  height: 30px;
  width: 65%;
  left: 18%;
  top: 55%;
}
#selectBtn{
  position: absolute;
  height: 30px;
  width: 65%;
  left: 18%;
  top: 40%;
}
#guestLogin{
  position: absolute;
  width: 23%;
  height: 30px;
  left: 60%;
  top: 55%;
}
#socialLogin{
  position: absolute;
  width: 65%;
  height: 20px;
  left: 18%;
  top: 70%;
}

#userSignup{
  position: absolute;
  height: 7rem;
  width: 25%;
  left: 60%;
  top: 23%;
}



.Login-window{
  position: absolute;
  top:50%;
  left:50%;
  height:20rem;
  width:30rem;
  margin:-10rem 0 0 -15rem;
  font-family: 'Nanum Myeongjo', serif;
  border-color: black;
  border-style:solid;
  border-width:0.095rem;
}
#login{
  height:16.5rem
}