#canvas {
  width: auto;
  max-width: 96vw;
  height: 90%;
  max-height: 57.6vw;
  border-bottom: solid;
}

.playStage-square {
  align-items: center;
  height: 100%;
}

.playStage-square:focus {outline:none}

.gameBoard {
  text-align: center;
  height: 80%;
}

.gameRule {
  z-index: 1;
  text-align: center;
  height: calc(100vh - 3rem);
  overflow: auto;
}

.playStage-description{
  z-index: 1;
  font-size:1.5rem;
  overflow:auto
}

.inputAnswer {
  font-family: 'Nanum Myeongjo', serif;
  position: relative;
  margin-top: 20px;
  padding: 10%;
  width: 60%;
  height: 100% !important;
  font-size: 2rem;
}

.inputAnswer:focus {outline:none;}

.stop {
  height: 100% !important;
  font-size: 1rem;
}

#continueBtn{
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor:pointer;
    height:1.7rem;
    font-size:0.9rem;
    font-family: 'Nanum Myeongjo', serif;
}

#gameoverBtn{
  margin-top: 1rem;
    margin-bottom: 1rem;
    cursor:pointer;
    height:1.7rem;
    font-size:0.9rem;
    font-family: 'Nanum Myeongjo', serif;
}

.selectLevel{
  position: relative;
  top:50%;
  font-size:1rem;
  
}

#playpage{
  visibility: visible;
}

.modal{
  height: 97%;
  width: 100%;
  background-color: rgba(83, 83, 83, 0.2);
  visibility: visible;
}
.hidden{
  visibility: hidden;
}


/*나가기 관련*/
.Play-window{
  z-index: 1;
  position: absolute;
  top:50%;
  left:50%;
  height:20rem;
  width:30rem;
  margin:-10rem 0 0 -15rem;
  font-family: 'Nanum Myeongjo', serif;
  border-color: black;
  border-style:solid;
  border-width:0.095rem;
}