
.playStage-description{
    font-size:1.5rem;
    margin-top:0.5rem;
    margin-bottom:0.5rem;
}

.playStage-description-box{
    margin: 15rem 20rem 0 20rem
}

.beforestart{
    z-index: -1;
    position:fixed;
    height:100%;
    width:100%;
    background-color:lightgray;
}


.description{
    font-size:1rem;
    text-align:center;
}

button{
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor:pointer;
}
