#canvas {
  width: auto;
  max-width: 96vw;
  height: 80%;
  max-height: 57.6vw;
  border-bottom: solid;
}

.playStage-square {
  align-items: center;
  height: 100%;
}

.playStage-square:focus {outline:none}

.gameBoard {
  text-align: center;
  height: 80%;
}

.gameRule {
  text-align: center;
  height: calc(100vh - 3rem);
  overflow: auto;
}

.playStage-description{
  font-size:1.5rem;
  overflow:auto
}

.inputAnswer {
  position: absolute;
  bottom: 0%;
  width: 1%;
  height: 1% !important;
  font-size: 1rem;
}

.inputAnswer:focus {outline:none;}

.stop {
  height: 100% !important;
  font-size: 1rem;
}

button{
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor:pointer;
}

#playpage{
  visibility: visible;
}

.modal{
  height: 100%;
  width: 100%;
  background-color: rgba(83, 83, 83, 0.2);
  visibility: visible;
}
.hidden{
  visibility: hidden;
}
.selectLevel{
  position: absolute;
  top: 6rem;
  left: 8rem;
  font-size: 1rem;

}
.selectLevel > div{
  margin-top: 18px;
  margin-bottom: 10px;
}
#continueBtn{
  position: absolute;
  width: 10rem;
  height: 2rem;
  left: 35%;
  top: 65%;
}
#gameoverBtn{
  position: absolute;
  width: 10rem;
  height: 2rem;
  left: 35%;
  top: 77%;
}
#typing{
  margin-top: 10px;
  font-size: 2.5rem;
}