.SelectStage-window{
    position: absolute;
    top:50%;
    left:50%;
    height:26rem;
    width:34rem;
    margin:-13rem 0 0 -17rem;
    font-family: 'Nanum Myeongjo', serif;
}

fieldset{
    height:21rem
}


.title{
    font-size:1rem;
    color: blue;
}

.description{
    font-size:1rem;
    text-align:center;
}

button{
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor:pointer;
    font-family: 'Nanum Myeongjo', serif;
}

#gameLevel {
    width: 50%;
}

.selectGameLevel {
    margin: 1rem;
}
