.GameOver-window{
    position: absolute;
    top:50%;
    left:50%;
    height:12rem;
    width:34rem;
    margin:-6rem 0 0 -17rem;
}

.GameOver-title{
    font-size:1rem;
    color: blue;
}

button{
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor:pointer;
}

.GameOver-fieldset{
    height:7rem
}