.MyPage-window{
    position: fixed;
    top:50%;
    left:50%;
    height:26rem;
    width:34rem;
    margin:-13rem 0 0 -17rem;
    font-family: 'Nanum Myeongjo', serif;
    font-size:1rem;
    text-align: center;
    border-color: black;
    border-style:solid;
    border-width:0.095rem;
}

fieldset{
    color:black
}

input.inputMypage{
    width: 14rem;
    height: 1.5rem;
    font-size:0.8rem;
    font-family: 'Nanum Myeongjo', serif;
}


 /* .mypageTitle {
    position: relative;
    font-size: 20 rem;
    font-family: 'Nanum Myeongjo', serif;
    color: blue;
    text-align: center;
    top: 4000 rem;
    left: 4000 rem;
}

.myplayLog {
    text-align: center;
}

.nickname {
    position: relative;
    top: 80 rem;
}  */
