.MyPage-window{
    position: fixed;
    top:50%;
    left:50%;
    height:26rem;
    width:34rem;
    margin:-13rem 0 0 -17rem;
    font-family: 'Nanum Myeongjo', serif;
    font-size:1rem;
    text-align: center;
    border-color: black;
    border-style:solid;
    border-width:0.095rem;
}

#MypageFocus:focus{outline:none;}

fieldset{
    color:black
}

input.inputMypage{
    width: 14rem;
    height: 1.7rem;
    font-size:1rem;
    font-family: 'Nanum Myeongjo', serif;
}

.changeNameBtn{
    height:1.7rem;
    font-size:0.9rem;
}
.mypageBtn{
    margin-top:1rem;
    height:1.7rem;
    font-size:0.9rem;
}

.mypageTitle{
    margin-bottom:0;
}


.myplayLog {
    height:10rem;
    overflow-y:scroll;
}


.Mypage-field-row-btn{
    border-top:black 0.05rem solid;
    margin-top:0.7rem;
}
/* 
width:50%; 
overflow: hidden; 
text-overflow: ellipsis;
white-space:nowrap; */