.Ranking-window{
    position: fixed;
    top:50%;
    left:50%;
    height:26rem;
    width:34rem;
    margin:-13rem 0 0 -17rem;
    font-family: 'Nanum Myeongjo', serif;
    color:black;
    z-index:1;
}

.title{
    font-size:1rem;
    color: navy;
}

button{
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor:pointer;
}

.Ranking-fieldset{
    height:20rem;
    overflow: auto;
}

.closeButton{
    position:absolute;
    margin:0 0 0 32rem;
    right:3%
}
