tr {
    font-size: 1rem;
    cursor:pointer;
    font-family: 'Nanum Myeongjo', serif;
    overflow-x: hidden;
    overflow-y: auto;
    padding:4px 6px; 
    text-align: center;
}
.StageListEntry-stagename{
    padding-left:2.5rem;

}

.StageListEntry-createdBy{
    padding-left:8rem;
}

th[scope="row"]{
    font-size:1.3rem;
}


div.selectingArea{
    position: relative;
}
div.fa-plus-square{
 position:absolute;
 top:35%;
 right:7%;
}

div.fa-plus-square:hover{
    transform:scale(1.5)
  }


div.fa-minus-square{
    position:absolute;
    top:35%;
    right:3%;
   }

div.fa-minus-square:hover{
    transform:scale(1.5)
  }